<!doctype html>
<html lang="Zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑job</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <form class="form-horizontal" id="edit-form">
        <div class="form-group">
            <label for="group" class="col-sm-2 control-label">分组</label>
            <div class="col-sm-9">
                <input th:value="${job?.group}" disabled type="text" class="form-control" name="group" id="group">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">job名称</label>
            <div class="col-sm-9">
                <input th:value="${job?.name}" disabled type="text" class="form-control" name="name" id="name">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">描述</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="description" id="description" th:value="${job?.description}" >
            </div>
        </div>
        <div class="form-group">
            <label for="cronExpression" class="col-sm-3 control-label">cron表达式</label>
            <div class="col-sm-9">
                <input type="text" disabled class="form-control" th:value="${job?.cronExpression}" >
                <input type="hidden" class="form-control" name="cronExpression" id="cronExpression" th:value="${job?.cronExpression}" >
                <br>
                <iframe id="cronPage" th:src="@{/cron/page}" frameborder="0" width="100%" scrolling="no"></iframe>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="save" style="margin: 0 auto;" class="btn btn-primary">保存</button>
            </div>
        </div>
    </form>
<script type="text/javascript">
    $(function(){
        $("#cronPage").on('load', function(){
            //得到父页面的iframe框架的对象
            var obj = window.document.getElementById("cronPage");
            //把当前页面内容的高度动态赋给iframe框架的高
            obj.setAttribute("height", window.document.body.scrollHeight);

        });
        $("#save").on('click', function(e){
            e.preventDefault();
            var form_data = $('#edit-form').serialize();
            $("#cronExpression").val(window.document.getElementById('cronPage').contentDocument.getElementById('cron').value);
            $.ajax({
                url: '/quartz/job/save/'+$('#name').val(),
                data: form_data,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {
                    layer.alert(data);
                },
                error: function(e){
                    layer.alert(e);
                }
            });
        });
    });

</script>
</body>
</html>