<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.file.dao.user.UserDao" >
    <select id="checkUserExists" parameterType="User" resultType="java.lang.Long">
        select      count(1)
        from        sys_user
        where       1=1
        <if test='username != null and username != ""'>
           and username=#{username}
        </if>
        <if test='mobile != null and mobile != ""'>
            and mobile=#{mobile}
        </if>
    </select>

    <select id="login" parameterType="User" resultType="User">
        select      *
        from        sys_user
        where       password=#{password}
        and         username=#{username}
    </select>

    <insert id="register" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        insert into       sys_user
        set               username=#{username},
        <if test='email != null and email != ""'>
                          email=#{email},
        </if>
                          create_date=now(),
                          password=#{password}
    </insert>

    <update id="updateUser" parameterType="User">
        update            sys_user
        set        modify_date=now()
        <if test='username != null and username != ""'>
            ,username=#{username}
        </if>
        <if test='mobile != null and mobile != ""'>
            ,mobile=#{mobile}
        </if>
        where       id=#{id}
    </update>

    <update id="deleteUser" parameterType="User">
        update            sys_user
        set               status='N'
        where             id=#{id}
        and               username=#{username}
    </update>

    <select id="getContactList" parameterType="User" resultType="User">
        select    *
        from      sys_user
    </select>

    <select id="authUser" parameterType="java.lang.String" resultType="User">
        select * from sys_user
        where username=#{username}
    </select>
</mapper>