<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.file.dao.user.UserDao" >
    <select id="checkUserExists" parameterType="User" resultType="java.lang.Long">
        select      count(1)
        from        sys_user
        where       1=1
        and         login_name=#{loginName}
    </select>

    <select id="login" parameterType="User" resultType="User">
        select      *
        from        sys_user
        where       password=#{password}
        and         login_name=#{username}
    </select>

    <insert id="register" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        insert into       sys_user
        set               username=#{username},
        <if test='email != null and email != ""'>
                          email=#{email},
        </if>
                          create_date=now(),
                          password=#{password}
    </insert>

    <update id="updateUser" parameterType="User">
        update            sys_user
        set        modify_date=now()
        <if test='username != null and username != ""'>
            ,username=#{username}
        </if>
        <if test='mobile != null and mobile != ""'>
            ,mobile=#{mobile}
        </if>
        where       id=#{id}
    </update>

    <update id="deleteUser" parameterType="User">
        update            sys_user
        set               status='N'
        where             id=#{id}
        and               username=#{username}
    </update>

    <select id="getContactList" parameterType="User" resultType="User">
        select    *
        from      sys_user
    </select>

    <select id="authUser" parameterType="java.lang.String" resultType="SysUser">
        select * from sys_user
        where login_name=#{username}
    </select>

    <select id="getListUser" resultType="SysUser">
        select * from sys_user
    </select>

    <update id="updateUsers" parameterType="java.util.List">

        <foreach collection="list" item="item" separator=";" open="" close="">
            update sys_user u
            <set>
                u.password=#{item.password}
            </set>
            <where>
                u.user_id=#{item.userId}
            </where>
        </foreach>
    </update>

    <select id="getMenu" parameterType="SysUser" resultType="Menu">
        select          m.*
        from            sys_menu m,
                        sys_role_menu srm,
                        sys_role r
        where           m.menu_id=srm.menu_id
        and             r.role_id=srm.role_id
        and             r.role_id=
       (select         role_id
        from            sys_user su
        join            sys_user_role sur
        on              su.user_id=sur.user_id
        where           su.user_id=#{userId})
        and             m.menu_type in ('M', 'C')
        and             m.visible = 0
        and             r.status = 0
		order by        m.order_num
    </select>
</mapper>