<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.file.dao.user.UserDao" >
    
    
    <resultMap id="SysUser" type="com.framework.file.pojo.user.SysUser">
        <id column="user_id" property="userId"/>
        <result column="dept_id" property="deptId"/>
        <result column="login_name" property="loginName"/>
        <result column="user_name" property="userName"/>
        <result column="user_type" property="userType"/>
        <result column="email" property="email"/>
        <result column="phonenumber" property="phonenumber"/>
        <result column="sex" property="sex"/>
        <result column="avatar" property="avatar"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>
        <result column="login_ip" property="loginIp"/>
        <result column="login_date" property="loginDate"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="img_url" property="imgUrl"/>
        <result column="job" property="job"/>
        <collection fetchType="lazy" property="role" ofType="com.framework.file.pojo.user.SysRole" column="user_id" select="getUserRoles" ></collection>
    </resultMap>

    <select id="getUserRoles" resultType="SysRole">
        select r.* from sys_user u, sys_role r, sys_user_role ur
        where u.user_id=ur.user_id and r.role_id=ur.role_id and u.user_id=#{userId}
    </select>

    <resultMap id="Menu" type="com.framework.file.pojo.user.Menu">
        <id column="menu_id" property="menuId"/>
        <result column="menu_name" property="menuName"/>
        <result column="parent_name" property="parentName"/>
        <result column="parent_id" property="parentId"/>
        <result column="order_num" property="orderNum"/>
        <result column="url" property="url"/>
        <result column="menu_type" property="menuType"/>
        <result column="visable" property="visable"/>
        <result column="perms" property="perms"/>
        <result column="icon" property="icon"/>
        <collection fetchType="lazy" property="children" ofType="com.framework.file.pojo.user.Menu" column="menu_id" select="getMenuByparent"></collection>
    </resultMap>

    <select id="getAllMenu" resultMap="Menu">
        select * from sys_menu m
        where m.parent_id='0'
    </select>

    <select id="getMenuByparent" resultType="Menu">
        select * from sys_menu m
        where m.parent_id=#{parent_id}

    </select>
    
    <select id="checkUserExists" parameterType="User" resultType="java.lang.Long">
        select      count(1)
        from        sys_user
        where       1=1
        and         login_name=#{loginName}
    </select>

    <select id="login" parameterType="User" resultType="User">
        select      *
        from        sys_user
        where       password=#{password}
        and         login_name=#{username}
    </select>

    <insert id="register" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        insert into       sys_user
        set               username=#{username},
        <if test='email != null and email != ""'>
                          email=#{email},
        </if>
                          create_date=now(),
                          password=#{password}
    </insert>

    <update id="updateUser" parameterType="User">
        update            sys_user
        set        modify_date=now()
        <if test='username != null and username != ""'>
            ,username=#{username}
        </if>
        <if test='mobile != null and mobile != ""'>
            ,mobile=#{mobile}
        </if>
        where       id=#{id}
    </update>

    <update id="deleteUser" parameterType="User">
        update            sys_user
        set               status='N'
        where             id=#{id}
        and               username=#{username}
    </update>

    <select id="getContactList" parameterType="User" resultType="User">
        select    *
        from      sys_user
    </select>

    <select id="authUser" parameterType="java.lang.String" resultType="SysUser">
        select * from sys_user
        where login_name=#{username}
    </select>

    <select id="getListUser" resultMap="SysUser">
        select * from sys_user
    </select>

    <update id="updateUsers" parameterType="java.util.List">

        <foreach collection="list" item="item" separator=";" open="" close="">
            update sys_user u
            <set>
                u.password=#{item.password}
            </set>
            <where>
                u.user_id=#{item.userId}
            </where>
        </foreach>
    </update>

    <select id="getMenu" parameterType="SysUser" resultType="Menu">
        select          m.*
        from            sys_menu m,
                        sys_role_menu srm,
                        sys_role r
        where           m.menu_id=srm.menu_id
        and             r.role_id=srm.role_id
        and             r.role_id=
       (select         role_id
        from            sys_user su
        join            sys_user_role sur
        on              su.user_id=sur.user_id
        where           su.user_id=#{userId})
        and             m.menu_type in ('M', 'C')
        and             m.visible = 0
        and             r.status = 0
		order by        m.order_num
    </select>
</mapper>